body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    padding: 10px;
    transition: color 0.3s;
}

.form{
    width: 60%;
    outline: 1px solid black;
    margin: auto;
}

.form > form > label{
    font-weight: bold;
}

.form > form > input{
    width: 98%;
}